.ipynb_checkpoints
dataset
/node_modules/
/public/build/
package-lock.json
pnpm-lock.yaml
.DS_Store
*.swp

.vercel
deploy-gh-page.sh
publish.sh
publish*
dist
gh-page
explorer
lite
__pycache__

combine.ipynb
public/data/diffusiondb/umap.ndjson
.gitignoreghpage

notebook_widget/wizmap/data.json
notebook_widget/wizmap/*.ipynb
notebook_widget/wizmap/*.html
notebook_widget/wizmap/wizmap.js
*.egg-info

example/*.json
example/*.ndjson
notebooks
public/data/temp

.env

*.csv

expMap/word-contexts/12_perturbed.txt

saves.pkl

*.jsonl

public/data/chemical-structures/